@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


.top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    width: 100%;
    background-color: gray;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

h1 {
    font-weight: bolder;
    font-size: larger;
}

input {
    @apply py-[0.5rem] pr-[4rem] pl-[2rem] w-full border rounded p-2 outline-none
}   

button {
    padding: 0.5rem 4rem;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
}